.highlight-section {
  margin-top: 6rem;
}

.highlight-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.highlight-title h2 {
  font-size: 2.5rem;
  color: #495e57;
}

.highlight-title a {
  display: flex;
  align-items: center;
}

.highlight-container {
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  gap: 1.15rem;
}

.meal-card {
  display: flex;
  flex-direction: column;
  background-color: #edefee;
  border-radius: 1.5rem;
  min-height: 29.25rem;
  padding-bottom: 2.5rem;
  overflow: hidden;
}

.meal-card-img img {
  height: 12.5rem;
  object-fit: cover;
  width: 100%;
}

.meal-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.25rem;
}

.meal-card-header h2 {
  font-size: 1.15rem;
  color: #495e5b;
}

.meal-card-header p {
  color: #ee9972;
  font-weight: bold;
}

.meal-card-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0rem 1.25rem;
}

.meal-card-footer p {
  font-size: 1rem;
  line-height: 1.5;
  color: #495e57;
}

.meal-card-footer h3 {
  font-size: 1rem;
  color: #495e57;
}

@media (max-width: 962px) {
  .highlight-container {
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
  }
}

@media (max-width: 692px) {
  .highlight-container {
    grid-template-columns: 1fr;
    grid-row: auto;
  }
}
