* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

nav ul {
  display: flex;
  margin-left: 50px;
}
nav ul li {
  padding: 0 10px;
  font-size: 12px;
  font-weight: bold;
}

.hero-section {
  display: flex;
  justify-content: center;
  background-color: #495e57;
  margin: 2em 0;
}

.hero-section article {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  height: 14em;
}

.hero-section div {
  width: 40%;
  height: 100%;
}
.banner-article {
}

.banner-article h1 {
  padding-top: 15px;
  font-size: 36px;
  color: #c3a510;
}

.banner-article h2 {
  font-size: 18px;
  color: white;
}

.banner-article p {
  padding-top: 10px;
  font-size: 16px;
  color: white;
}

.banner-article button {
  margin-top: 1em;
  border-radius: 10px;
  font-size: 12px;
  background-color: #f4ce14;
  color: black;
  font-weight: bold;
  padding: 8px 15px;
  outline: none;
  cursor: pointer;
}

.banner-image {
  position: relative;
  display: flex;
  justify-content: end;
}

.banner-image img {
  width: 220px;
  height: 250px;
  border-radius: 20px;

  position: absolute;
  top: 20px;
  z-index: 1;
}

.highlight-section {
  width: 60%;
  margin: auto;
  margin-top: 6em;
}

.highligh-title {
  display: flex;
  justify-content: space-between;

  margin: 2em 0;
}

.highligh-title h2 {
  margin-left: 30px;
  font-size: 36px;
}

.highligh-title button {
  margin-right: 30px;

  margin-top: 1em;
  border-radius: 10px;
  font-size: 12px;
  background-color: #f4ce14;
  color: black;
  font-weight: bold;
  padding: 8px 15px;
  outline: none;
  cursor: pointer;
}

.highligh-container {
  display: flex;
  justify-content: space-evenly;
}

.highligh-container img {
  width: 100%;
  height: 170px;
}

.highlight-section article {
  display: flex;
  flex-direction: column;

  max-width: 30%;

  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
  background-color: #edefee;
}

.highlight-section article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.highlight-section article > div > p {
  padding: 2em 0;
  height: 5em;
  font-size: 14px;
  color: #4f635d;
}

.highlight-section article > div > h3 {
  padding-top: 2em;
  font-size: 16px;
}

.title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-price h2 {
  font-size: 16px;
}

.testimonial-section {
  margin-top: 4em;
  justify-content: center;
  background-color: #495e57;
}

.testimonial-section > div {
  width: 60%;
  margin: auto;
}

.testimonial-section h1 {
  padding-top: 40px;
  color: white;
}

.testimonial-articles {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.testimonial-articles article {
  width: 20%;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 40px;
}

.testimonial-articles article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  gap: 10px 0;
  color: #495e57;
}

.testimonial-articles article > p {
  padding: 10px;
  color: #495e57;
  font-size: 14px;
}

.testimonial-articles article img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
}

.about-section {
  margin: 4em 0;
}

.about-section article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}
.about-section div {
  width: 45%;
}

.about-section h1 {
  font-size: 36px;
  color: #c3a510;
}

.about-section h2 {
  color: #495e57;
}

.about-section p {
  color: #495e57;
  padding: 30px 0;
}

.about-section img {
  width: 400px;
  height: 250px;
  border-radius: 25px;
  margin: 10px 0;
}

footer {
  background-color: #495e57;
  color: white;
}

footer > div {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  padding: 2em 0;
}

footer li {
  padding: 2px 0;
}

footer img {
  width: 100px;
  height: 130px;
}

footer h3 {
  margin: 8px 0;
}

.social-icons-list ul {
  display: flex;
  margin-top: 3px;
  gap: 20px;
}
